<div class="container">
  <div class="row">
    <table>
      <%= render "search" %>
    </table>
  </div>

  <div class="row" data-no-turbolink>
    <table class="table">
      <thead>
        <tr>
          <th class="col-md-3"></th>
          <th class="col-md-3"></th>
          <th class="col-md-3"></th>
          <th class="col-md-3"></th>
        </tr>
      </thead>
      <tbody id="books">
        <% @books.in_groups_of(Settings.books_per_row, false).each do |group| %>
          <tr>
            <%= render partial: "book", collection: group, as: :book %>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate %>
  </div>
</div>
