<tr>
  <td><%= category.id %></td>
  <td><%= link_to category.name, admin_category_path(category.id) %></td>
  <td class="col-md-4" data-no-turbolink="true">
    <%= link_to t(:edit), edit_admin_category_path(category.id),
                class: "btn btn-primary col-md-3" %>
    <%= link_to t(:delete), admin_category_path(category.id), method: :delete,
                data: {confirm: t(:confirm_notification)},
                class: "btn btn-primary col-md-3 col-md-offset-1" %>
  </td>
</tr>
